<div class="body">

  <form [formGroup]="form" (ngSubmit)="guardar()">

    <div class="texto">
      <mat-form-field class="example-full-width" appearance="fill">
          <input 
          required
          matInput 
          formControlName="nombre"
          type="text">
      </mat-form-field>

      <button mat-raised-button color="primary" type="button" (click)="adicionar()" [disabled]="form.invalid">Adicionar</button>
    </div>

    <div class="column2" >

      <div formArrayName="pasatiempos" *ngFor="let s of pasatiemposO.controls; let i = index">

        <mat-checkbox type="checkbox" class="example-margin caja" [formControlName]="i">{{ name[i] }}</mat-checkbox>
        <button mat-raised-button color="warn" (click)="borrarCaja(i)" type="button">Eliminar</button>
      </div>
      

      <br>
      <mat-form-field class="example-full-width" appearance="fill">
        <textarea matInput cols="30" rows="10" class="areatexto" readonly>
          {{ nombres }}
        </textarea>
      </mat-form-field>
    </div>

    

    <div class="btnguardar">
        <h3> Acciones</h3>
        <button mat-raised-button (click)="guardar()" [disabled]="form.invalid">Guardar</button>
        <br>
        <button type="button" (click)="vaciarcaja()" mat-raised-button>Limpiar</button>
    </div>
  </form>
</div>