*{
  box-sizing: border-box;
  margin: 5px;
  width: 100%;
}

.texto{
  width: 15%;
  flex-direction: column;
  float: left;
}

.texto button{
  width: 75%;
}

.text{
  margin-bottom: 15px;
}

.column2{
  width: 25%;
  float: left;
}



.btneliminar{
  float: right;
  width: 100px;
  margin-bottom: 30px;
  margin-top: -35px;
}

.btnlimpiar, .btnguardar{
  width: 10%;
  float: left;
  margin-left: 50px;

}

fieldset{
  padding: 10px;
  border: 1px solid rgba(128, 128, 128, 0.263);
}

.areatexto{
  resize: none;
}

.caja {
  width: 40%;
}